.about-title{
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    color: var(--black-color);
    text-transform: capitalize;
    
}

@media screen and (max-width: 450px) {
    .about-title{
        font-size: 2rem;
    }
}

.about-section1{
    padding: 1rem 2rem;
    text-align: center;
}